@charset "UTF-8";

body {
    background-image: linear-gradient(rgb(0, 247, 255), rgb(2, 152, 163), rgb(0, 111, 126), rgb(1, 48, 52) );
    background-attachment: fixed;
}

div {
    display: inline-block;
    background-color: grey;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    height: 200px;
    width: 200px;
}
a{
    color: rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    font-family: monospace;
}
div:hover {
    background-color: darkgray;
}
a:visited{
    color: rgb(118, 2, 2);
}
div > p {
    display: none;
}
div:hover > p{
    display: block;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


.um:hover {
    background-color: blue;
}
.dois:hover { 
    background-color: yellow;
}
.tres:hover {
    background-color: red;   
}
.primeiro{
    color: white;
}
.segundo {
    color: white;
}
.terceiro{
    color: white;
}
p:active{
    background-color: black;
}



a::after
{
    content:'  -->'
}
a::before{
    content: ':  ';
}



